{% extends "base.html" %}
{% block title %} gist2.0 {% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }} </strong></p>{% endif %}
<div class="container">
  {% if success %}
    <h2 class="success_story"> Info updated</h2>
  {% endif %}
  {% if user.id == request.user.id %}
    <h1> My profile </h1>
  {% else %}
    <h1> {{ user.username }}'s profile </h1>
  {% endif %}
  <div class="jumbotron">
    {% if errors %}
    <ul class="errors">
      {% for err in errors %}
      <li>{{err}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if request.user.is_superuser or user.id == request.user.id%}
    <form action="{% url 'update_user' user_id=user.id %}" class="form-signin update-form" method="post">
	  {% csrf_token %}
	  <label for="firstname"> First name </label>
	  <input type="text" autofocus class="form-control" placeholder="First name" name="firstname" value="{{user.first_name}}" id="username">
	  <label for="lastname"> Last name </label>
	  <input type="text" autofocus class="form-control" placeholder="Last name" name="lastname" value="{{user.last_name}}" id="username">
	  <label for="email"> E-mail </label>
	  <input type="text" class="form-control" placeholder="e-mail"  name="email" value="{{user.email}}" >
	  <h3> Password </h3>
	  <input type="password" class="form-control" placeholder="Password"  name="password1" value="" >
	  <input type="password" class="form-control" placeholder="Confirm password"  name="password2" value="" >
	  <br>
	  <input class="btn btn-lg btn-primary btn-block" type="submit" value="update" />
      </form>
      {% endif %}
      {% if request.user.is_superuser and user.id != request.user.id%}
	<form name="remove_user" method="post" action="{% url 'remove_user' user_id=user.id %}">
	  {% csrf_token %}
	  <input type="submit"class=" btn btn-xs btn-default" value="Remove"/>
	</form>
      {% endif %}
  </div>
  {% if gists %}
    <ul class="gists-unordered">
      {% for gist in gists %}
      <li>
	<a href="{% url 'detail_gist' gist.id %}"><div class="well">{{ gist.text|linebreaks|truncatewords:20 }}</div></a>
	<span disabled class="gray small pull-right"> {{ gist.pub_date | date:'Y-M-d' }} </span>
	{% if request.user.is_superuser or gist.user.id == request.user.id %}
	  <form name="remove_gist" method="post" action="{% url 'remove_gist' gist_id=gist.id %}">
	    {% csrf_token %}
	    <input type="submit"class=" btn btn-xs btn-default" value="Remove"/>
	  </form>
	{% endif %}
      </li>
      <br>
      {% endfor %}
    </ul>
    {% endif %}
      <div class="prevnext-block">
	{% if gists.has_previous %}
	  <a class="btn btn-lg btn-info" href="{% url 'detail_user' user_id=user.id page=gists.previous_page_number %}">back</a>
	{% else %}
	  <a disabled class="btn btn-lg btn-info" href="">back</a>
	{% endif %}
	{% if gists.has_next %}
	<a class="btn btn-lg btn-info" href="{% url 'detail_user' user_id=user.id page=gists.next_page_number %}">next</a>
	{% else %}
	  <a disabled class="btn btn-lg btn-info" href="">next</a>
	{% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block userscript %}  
<script>
      function submitHandler(e) {
	e.preventDefault();
	if(confirm("Are you sure?"))
	  this.submit();
      }
      window.onload = function(){
	$('form[name="remove_user"]').each(function(i) {
	  $(this).on('submit', submitHandler);
	});
	$('form[name="remove_gist"]').each(function(i) {
	  $(this).on('submit', submitHandler);
	});
      };
  </script>
{% endblock %}
