{% load staticfiles %}
<html>
  <head>
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gist2/styles/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'gist2/styles/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'gist2/styles/codemirror.css'%}"/> 
  </head>

<body role="document">
  <div class="login-container">
    <ul class="errors">
    {% if form.errors %}
      {% for key,err in form.errors.items %}
	{% if key == "username" or key == "password" %}
	{{key}} {{err}}
	{%else %}
	  {{ err }}
	{% endif %}
      {% endfor %}
    {% endif %}
    </ul>
    <form action="" class="form-signin login-form" method="post">
	{% csrf_token %}
	<input type="text" autofocus class="form-control" placeholder="Username" name="username" value="" id="username">
	<input type="password"class="form-control" placeholder="Password"  name="password" value="" id="password">

	<input class="btn btn-lg btn-primary btn-block" type="submit" value="login" />
	<input hidden name="next" value="{{ request.REQUEST.next }}" />
    </form>
  </div>
  <div class="container">
    <hr>
    <footer class="footer pull-right">
<p> gist 2.0 2014 </p>
    </footer>
  </div>


  <script src="{% static 'gist2/js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'gist2/js/bootstrap.js' %}"></script>
  <script src="{% static 'gist2/js/codemirror.js' %}"> </script>
  <script src="{% static 'gist2/js/jquery.validate.min.js' %}"> </script>
</body>
</html>
