body {
  padding-top:70px;
}
form p.error{
  color:red;
  text-align:center;
  font-size:150%;
}
form.gist-edit{
  margin:0 auto;
  max-width:600px;
  white-space:pre-wrap;
}
form.gist-edit input[type="submit"] {
  float:right;
}
input[type="textarea"] {
  height:300px;
  width:600px;
}
ul.gists-unordered {
  list-style-type:none;
}

ul.gists-unordered a:hover{
  text-decoration:none;
}
