body {
  padding-top:70px;
}
form p.error{
  color:red;
  text-align:center;
  font-size:150%;
}
form.gist-edit{
  margin:0 auto;
  max-width:600px;
  white-space:pre-wrap;
}
form.gist-edit input[type="submit"] {
  float:right;
}
input[type="textarea"] {
  height:300px;
  width:600px;
}
ul.gists-unordered {
  list-style-type:none;
  margin:auto 20%;
}

ul.gists-unordered a:hover{
  text-decoration:none;
}
ul.errors {
  color:red;
  font-weight:bold;
}
div.login-container{
  width:40%;
  margin:0 auto;
}
a.username {
  color:#4183c4 !important;
}
a.username:hover {
  color:white !important;
}

footer {
  position:absolute;
  bottom:0;
  width:1170px; 
  height:100px;
}
.prevnext-block {
  position:absolute;
  bottom:100px;
  width:1170px; 
  text-align:center;
  margin:auto 20%; 
}
span.gray {
  color:gray;
}
