{% load staticfiles %}
<html>
  <head>
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gist2/styles/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'gist2/styles/codemirror.css'%}"/> 
    <link rel="stylesheet" type="text/css" href="{% static 'gist2/styles/custom.css' %}"/>
  </head>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">gists</a>
        {% if signed_in %}
          <a class="navbar-brand navbar-right" href="/logout">Logout</a>
	  <a class="navbar-brand navbar-right username" href="{% url 'detail_user' user_id=user.id  %}">{{ user.username}}</a>
	  <a class="navbar-brand navbar-right" href="{% url 'add_gist' %}">New gist</a>
	  <form action="{% url 'search_user_p' %}" method="POST" class="navbar-form navbar-right">
            {% csrf_token %}
	    <input type="text" name="criteria" class="form-control" placeholder="Search users...">
	</form>
	<br>
        {% else %}
          <form class="navbar-form navbar-right" method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
          <input hidden name="next" value="{{request.path}}"/>
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" autofocus name="username" type="text" placeholder="Username" />
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-success">Sign In</button>
	    <a type="submit" href="{% url 'register' %}" class="btn btn-success">Register</a>
          </form>
        {% endif %}
      </div>
    </div>
    {% block content %} {% endblock %}


    <script src="{% static 'gist2/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'gist2/js/bootstrap.js' %}"></script>
    <script src="{% static 'gist2/js/codemirror.js' %}"> </script>
    <script src="{% static 'gist2/js/jquery.validate.min.js' %}"> </script>
  {% block userscript %} {% endblock %}
  </body>
</html>
